.leadimage img {
  height: 400px;
  width: 100%;
  object-fit: cover;


}

.flexing {
  display: flex;
  align-items: flex-start;
}

// .colorline {
//   border-bottom-width: 2px;
//   border-top-style: solid;
//   border-bottom-color: #FE5D49;
// }

.showcard {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 20px;
  border-radius: 10px;
  padding: 30px;


  h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 32px;
    align-items: center;
    letter-spacing: 0.05em;
    color: #464752;
  }
  h3{

      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 20px;
      align-items: center;
      letter-spacing: 0.1em;
      color: #5358E2;
  }
}

// .bookingformshow {


// }

// .bgwhite {
//   background-color: white;
// }

