<div class="navbar <%= params[:controller] == 'pages' && params[:action] == 'home' ? 'homepage' : '' %>">
    <%= link_to 'Register', new_user_registration_path%>
    <%= link_to 'Login', new_user_session_path%>
</div>
