.btn {
    width: 100%;
    background-color: #FE5D49;
    border-radius: 8px;
    color: white;
    font-weight: bolder;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

.btn-v2 {
    width: 250px;
    padding: 6px 12px;
    text-align: center;
    border: 1px solid #FE5D49;
    border-radius: 8px;
    color: #FE5D49;
    font-weight: bolder;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    a {
      color:#FE5D49;
      text-decoration: none;
    }
  }

.btn-v3{
    width: 250px;
    padding: 6px 12px;
    text-align: center;
    border: 2px solid #FE5D49;
    border-radius: 8px;
    color: #FE5D49;
    font-weight: bolder;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    a {
      color: white;
      background-color: #FE5D49;
      text-decoration: none;
    }
  }
