.form-edit-profil {
  margin: 30px 0;
  background-color: white;
  padding: 30px 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  h2 {
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 250px;
    background-color: #FE5D49;
    border-radius: 8px;
    color: white;
    font-weight: bolder;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}


.form-links {
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    border-bottom: 1px solid black;
  }
  p {
    font-weight: lighter;
  }
}
