.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  margin: 0 0;
  padding: 0 0;
  height: 50px;
}
.navbar.homepage{
  background-color: transparent;
}

  a {
    padding: 10px 20px;
    text-decoration: none;
    letter-spacing: 2px;
    color: black;
    font-weight: lighter;
  }
  a:hover {
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    font-weight: lighter;
    border-bottom: 1px solid black;



}
.navbar.navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 50px;
}

