.navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 0;

  a {
    padding: 20px 20px;
    margin: 0 5px;
    text-decoration: none;
    letter-spacing: 2px;
    color: black;
    font-weight: lighter;
    border-bottom: 2px solid transparent;

    &.page-logo {
      padding: 0;

      img {
        height: 65px;
      }
    }
  }

  a:hover {
    border-bottom: 2px solid #FE5D49;
  }
}

.navbar.homepage {
  background-color: transparent;
}


.navbar.pages {
  &+ * {
    margin-top: 65px;
  }
}


.navbar.navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 50px;
}
