.app-dash-icon, .top-left>div {
  vertical-align: top;
}
.top-left>.app-container~.app-container .app-dash:first-child{
  padding-left: var(--side-padding);
}

.search-form-control-ind {
  position: relative;
}

.search-form-control-ind .btn-nav {
  position: absolute;
  top: 1px;
  bottom: 8px;
  right:0;
  width: 150px;
  height: 30px;
}


.search-form-control-ind .form-group {
  margin: 0 0;
  margin-top: 6px;
}

.search-form-control-ind .form-control {
  height: 2.9rem;
  box-shadow: inset 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  width:450px;
  background-color: #F4F8FB;
  border-radius: 10px;
}

.search-form-control-ind .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

#no-serach-result {
  font-weight: lighter;
  font-size: 20px;

}

/*
.search:hover .search-underline{
  opacity: .4;
}

.search-underline{
  margin-top:17px;
  left: 0;
  right: 0;
  border-bottom: 2px solid #FFF
}


.search .icon-search, .search-underline {
  z-index:1;
  transition: opacity var(--a-fast) var(--a-curve);
  position:absolute;
  top:50%
}

.search {
    width: 500px;
    icon-size: 16px;
    min-height: 60px;
    max-height: var(--max-height);
    min-width: 100px;
    display: inline-block;
    flex: 0 1 auto;
    order: 6;
}

.search, .search .search-input {
    width: 100%;
    max-width: var(--width);
    position: relative;
    cursor: pointer;
}
*/
